# 1. 일단 폴더 내의 모든 파일을 업로드 대상에서 제외(무시)합니다.
*

# 2. 하지만 하위 폴더 자체는 무시하지 않아야 그 안의 파일들을 탐색할 수 있습니다.
!*/

# 3. .cpp 파일과 .h 파일은 예외로 두어 업로드 대상에 포함시킵니다.
!*.cpp
!*.h

!*.vcxproj
!*.vcxproj.filters

!*.hlsl

# 4. (선택) 이 .gitignore 설정 파일 자체도 깃허브에 올려두면 좋습니다.
!.gitignore